.paperStyle {
  max-height: 50%;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: 3%;
  padding: 3%;
}

.buttonStyle {
  margin: 12;
  width: 230px;
}

.textFieldStyle {
  width: 230px;
}
